<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Form</title>
</head>

<body>

<form method="post" action="/statistics.html">
    Enter amount of btc budget to add: <input type="number" step="0.0000001" name="budget">

    <button type="submit">Add budget</button>
</form>

<div>
    <footer>
        <p>Created by: Sebastian Slupinski</p>
        <p>Contact information: slupinski.sebastian@gmail.com.</p>
    </footer>
</div>

</body>
</html>