<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Form</title>
</head>

<body>

<header>
    <nav>
        <ul>
            <li><a href="edit-open-price.html"> Edit open price </a></li>
            <li><a href="edit-coin-name.html"> Edit coin name </a></li>
            <li><a href="edit-sell-price.html"> Edit sell price </a></li>
            <li><a href="main-site.html"> Go back to main site </a></li>
        </ul>
    </nav>
</header>

<div>
    <footer>
        <p>Created by: Sebastian Slupinski</p>
        <p>Contact information: slupinski.sebastian@gmail.com.</p>
    </footer>
</div>

</body>
</html>