<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="add-budget.html"> Add budget </a></li>
            <li><a href="add-trade.html"> Add new trade </a></li>
            <li><a href="main-site.html"> Show all trades </a></li>
            <li><a href="active-trades.html"> Show open trades </a></li>
            <li><a href="close-trade.html"> Close trade </a></li>
            <li><a href="closed-trades.html"> Show closed trades </a></li>
            <li><a href="statistics.html"> Show statistics </a></li>
        </ul>
    </nav>
</header>

<p>General budget : <span th:text="${latestBudget.getGeneralBudget()}"></span>BTC</p>
<p>Free budget : <span th:text="${freeBudget}"></span> BTC</p>
<p>Frozen budget : <span th:text="${frozenBudget}"></span> BTC</p>
<p>Average percent per day : <span th:text="${averageDay}"></span></p>
<p>Prediction of your general in next month : <span th:text="${prediction30}"></span> BTC</p>
<p>3 month : <span th:text="${prediction90}"></span> BTC</p>
<p>6 month : <span th:text="${prediction180}"></span> BTC</p>
<p>one year : <span th:text="${prediction360}"></span> BTC</p>


</body>

<div>
    <footer>
        <p>Created by: Sebastian Slupinski</p>
        <p>Contact information: slupinski.sebastian@gmail.com.</p>
    </footer>
</div>

</html>