<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Form</title>
</head>

<body>

<header>
    <nav>
        <ul>
            <li><a href="add-budget"> Add budget </a></li>
            <li><a href="add-trade"> Add new trade </a></li>
            <li><a href="main-site"> Show all trades </a></li>
            <li><a href="active-trades"> Show open trades </a></li>
            <li><a href="close-trade"> Close trade </a></li>
            <li><a href="closed-trades"> Show closed trades </a></li>
            <li><a href="statistics"> Show statistics </a></li>
            <li><a href="decrease-budget"> Decrease budget </a></li>
            <li><a href="edit-trade"> Edit trade </a></li>

        </ul>
    </nav>
</header>

<p> Trade closed successfully</p>

<div>
    <footer>
        <p>Created by: Sebastian Slupinski</p>
        <p>Contact information: slupinski.sebastian@gmail.com.</p>
    </footer>
</div>

</body>
</html>